.addTodo h1 {
    font-size: 2.5em;
}

.addTodo input {
    width: 18em;
    padding: 1em;
    border: none;
    background-color: #294E66;
    border-radius: .5em;
}

.addTodo input::placeholder {
    color: #f1f1f1;
    font-size: 1.3em;
    font-family: "ubuntu", sans-serif;
}

.addTodo button {
    width: 4.3em;
    padding: 1em;
    margin-left: .2em;
    background-color: #294E66;
    border-radius: .5em;
    border: none;
    color: #f1f1f1;
    font-family: "ubuntu", sans-serif;
}
