@import url('https://fonts.googleapis.com/css2?family=Manjari&display=swap');

body {
  background-color: #475a66;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Manjari", sans-serif;
}

.todoContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 22em;
  height: 30em;
  background-color: #5eb2ea;
  margin: 2.2em 0;
  border-radius: .8em;
}
